* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

.carro1 {
    width: 100vw;
    height: 100vw;
    background-image: url("./img/carro1.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}

.carro2{
    content: '';
    background-image: url("./img/carro2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0,35;
}

.logo {
    image-rendering: auto;
}

header {
    background-color: none;
    display: flex;
    justify-content: right;
    padding: 8px;
    margin-top: 12px;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-start;
    order: 1;
    background-color: none;
    color: none;
    height: 10rem;
    padding: 0 2.4rem;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 100%;    
    gap: 4rem;
    list-style-type: none; 
    align-items: center;
    padding: 10px;
    text-size-adjust: 40px;
}

nav ul li {
    list-style-type: none;
    margin: 16px;


}

.button {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: right;
    align-self: flex-end;
    padding: auto;
    margin-bottom: 12px;
    /*flex-direction: row-reverse;
    flex-wrap: wrap;
    list-style-type: none;    
    padding: 10px;
    text-size-adjust: 50px;*/
    float: left;
    width: 48%;
    margin-right: 2%;
    height: 50px;
    /*background-color: rgb(138, 137, 137);*/
    text-align: right;
    margin-top: 25px;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}