* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    width: 100vw;
    height: 100vw;
    background-image: url("./img/carro1.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}