@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-white: #fff;
    --color-red: #e63636;
    --color-dark1: #cdd4d677;
    --color-dark2: #c9d1d477;
    --color-bleu: #1f1ce2fd;
    --color-purple: indigo;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

body {
    padding: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent; /* Fundo transparente */
    height: 60px; /* Altura menor */
}

.logo {
    background: url("../img/logo.png") no-repeat left top;
    width: 100px; /* Tamanho reduzido */
    height: 40px; /* Tamanho reduzido */
    background-size: contain; /* Ajuste da imagem ao container */
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav li {
    display: inline;
}

#link {
    color: var(--color-bleu);
    text-decoration: none;
    font-size: 20px;
}

.center-content {
    text-align: center;
    margin-bottom: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-item {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.contact-item img {
    max-width: 100px;
    height: auto;
}

.right-content p, .right-content a {
    margin-left: 20px;
}

h1, h2, h3 {
    color: var(--color-bleu);
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

p {
    font-family: "Verdana", sans-serif;
    font-size: 16px;
    color: var(--color-bleu);
    margin-bottom: 20px;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.inputs {
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--color-dark1);
    width: 100%;
    max-width: 500px;
    transition: .3s;
    margin-bottom: 15px;  /* Adiciona espaço entre os campos */
}

.inputs:focus {
    border-color: var(--color-bleu);
}

button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--color-bleu);
    color: var(--color-white);
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 15px;  /* Adiciona espaço antes do botão */
}

button[type="submit"]:hover {
    background-color: var(--color-white);
    color: var(--color-bleu);
    border: 2px solid var(--color-bleu);
}

.span-required {
    font-size: 12px;
    margin-top: 5px;
    color: var(--color-red);
    display: none;
}

@media screen and (max-width: 576px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .main-content {
        flex-direction: column;
    }

    .left-content, .right-content {
        text-align: left;
    }

    .inputs, button[type="submit"] {
        max-width: 100%;
    }

    .content {
        padding: 10px;
    }

    h1, h2 {
        text-align: center;
    }

    h3, p {
        text-align: left;
    }

    .right-content {
        align-items: flex-start;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 100px;
        height: 40px;
    }
}

@media (min-width: 992px) {
    .logo {
        width: 200px;
        height: 80px;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 200px;
        height: 80px;
    }
}

.social-links {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.social-link {
    color: var(--color-bleu);
    font-size: 24px;
    transition: color 0.3s;
}

.social-link:hover {
    color: var(--color-red);
}
