@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-white: #fff;
    --color-red: #e63636;
    --color-dark1: #cdd4d677;
    --color-dark2: #c9d1d477;
    --color-bleu: #04058f;
    --color-purple: indigo;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent; /* Torna o fundo do header invisível */
    position: relative;
}

.logo {
    width: 200px;
    height: 80px;
    background: url("../img/logo.png") no-repeat center;
    background-size: contain;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav li {
    margin: 0 20px;
}

#link {
    color: var(--color-bleu);
    font-size: 18px;
    text-decoration: none;
}

.cadeado {
    background-image: url("../img/cadeado.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    max-width: 100%;
    text-align: left; /* Alinha o conteúdo dentro do section à esquerda */
}

h1 {
    color: var(--color-bleu);
    font-size: 36px;
    text-align: center; /* Alinha o texto à esquerda */
    margin: 20px 0; /* Adiciona margem acima e abaixo do h1 */
}

h2 {
    color: var(--color-bleu);
    font-size: 28px;
    text-align: left; /* Alinha o texto à esquerda */
    margin: 15px 0; /* Adiciona margem acima e abaixo do h2 */
}

p {
    color: var(--color-bleu);
    font-size: 16px;
    text-align: left; /* Alinha o texto à esquerda */
    margin: 10px 0; /* Adiciona margem acima e abaixo do p */
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os itens dentro da coluna */
    margin: 20px 0;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav li {
        margin: 5px 0;
    }

    .logo {
        width: 150px;
        height: 60px;
    }

    h1 {
        font-size: 28px;
        margin: 15px 0; /* Ajusta a margem para dispositivos móveis */
    }

    h2 {
        font-size: 22px;
        margin: 10px 0; /* Ajusta a margem para dispositivos móveis */
    }

    p {
        font-size: 14px;
        margin: 8px 0; /* Ajusta a margem para dispositivos móveis */
    }
}
